.footer {
    padding: 50px;
    background: linear-gradient(to right, #360033, #0b8793);
    font-family: "Patrick Hand", cursive;
    .footer-nav {
        text-align: center;
        color: #dcdcdc;
        font-size: 20px;
        .nav-color {
            color: #ffffff !important;
            font-weight: 600;
            font-size: 32px;
        }
        .footer-contact {
            padding: 20px 0px;
            display: flex;
            font-size: 28px;
            justify-content: center;
        }
        a {
            color: #ffffff;
            transition: 0.2s ease-out 0s;
            &:hover {
                color: orangered;
                text-decoration: none;
                transition: 0.2s ease-out 0s;
            }
        }
    }
}